flask
opencv-python
numpy
pymongo
python-dotenv
rich
typer[all]
pydantic>=2.0
pydantic-settings
insightface
onnxruntime
requests
Resemblyzer
torch
torchaudio
sounddevice
pydub
soundfile
pytz
scikit-learn
streamlit